@font-face{
    font-family: poppinsBold;
    src: url(assets/Poppins-Bold.ttf);
}
    
@font-face{    
    font-family: poppinsMedium;
    src: url(assets/Poppins-Medium.ttf);
}

@font-face{
    font-family: poppinsLight;
    src: url(assets/Poppins-Light.ttf);
}
    
@font-face{
    font-family: poppinsSemiBold;
    src: url(assets/Poppins-SemiBold.ttf);
}

@font-face{
    font-family: remachine;
    src: url(assets/RemachineScript_Personal_Use.ttf);
}

html{
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #dee1e7; 
    box-shadow: rgba(15, 52, 96, 0.5) -15px 0px 25px -15px inset;
    height: 100%;
    margin: 0px;
    font-family: poppinsMedium;
}

.myself{
    display: flex;
    flex-direction: row;
}

.who-im-i{
    display: flex;
    flex-direction: column;
}

footer{
    display: flex;
    flex-direction: column;
}

.icons-footer{
    display: flex;
    flex-direction: row;
}


a{
    text-decoration: none;
}

strong{
    font-family: remachine;
    font-weight: 300;
    font-size: 30px;
}