/* GENERAL */

@font-face{
    font-family: poppinsBold;
    src: url(assets/Poppins-Bold.ttf);
}
    
@font-face{    
    font-family: poppinsMedium;
    src: url(assets/Poppins-Medium.ttf);
}

@font-face{
    font-family: poppinsLight;
    src: url(assets/Poppins-Light.ttf);
}
    
@font-face{
    font-family: poppinsSemiBold;
    src: url(assets/Poppins-SemiBold.ttf);
}

@font-face{
    font-family: remachine;
    src: url(assets/RemachineScript_Personal_Use.ttf);
}

html{
    margin: 0px;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #dee1e7; 
    box-shadow: rgba(15, 52, 96, 0.5) -15px 0px 25px -15px inset;
    height: 100%;
    margin: 0px;
    font-family: poppinsMedium;
}

a{
    text-decoration: none;
    color: rgb(214, 214, 214);
    margin-bottom: 0px;
    display: flex;
}

/* NAVIGATION BAR */

header{
    position: fixed;
    width: 100%;
}

/*¿POR QUÉ DIANTRES CUANDO NAVEGO CON LOS LINKS DE LA NAVBAR
DEL EJEMPLO ME LLEVAN A LOS TÍTULOS (SIN QUE LOS TAPE LA NAVBAR), EN CAMBIO
EN EL MÍO, LA NAVBAR TAPA LOS TÍTULOS? >_< */

.header-navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    background-color: #16213E;
    box-shadow: rgba(22, 33, 62, 0.4) 0px 7px 29px 0px;
}

.ul-navbar{
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    list-style-type: none
}

li{
    list-style-type: none;
    margin: auto 30px;
    letter-spacing: 2px;
    font-family: poppinsLight;
}

.flag-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 25px;
    align-items: center;
}

.flag{
    margin-left: 25px;
    border-radius: 30px;
}

/* TITLES */

.title1{
    color: #080808;
    font-family: poppinsSemiBold;
    letter-spacing: 1px;
}

.title2{
    font-size: 40px;
    font-family: poppinsBold;
}

/* FIRST BLOCK: about me */

.myself{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin-top: 70px;
}

.who-im-i{
    display: flex;
    flex-direction: column;
}

.my-name{
    color: #16213E;
    font-size: 60px;
    font-family: poppinsBold;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -30px;
}


.button{
    margin-top: 40px;
    background-color: #E94560;
    color: white;
    width: 120px; 
    padding: 10px 30px;
    border-radius: 30px;
    text-align: center;
}

.main-pic{
    max-width: 450px; 
}

/* PARAGRAPHS */



/* SKILLS SECTION */

.skills{
    background-color: #F2F2F2;
}

/* QUOTE SECTION */

.quote{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E94560;
    margin: 0px;
    color: whitesmoke;
}

blockquote{
    font-size: 1.2rem;
    margin: 20px 100px;
}

blockquote p{
    font-size: 25px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.ijeoma-content{
    display: flex;
    flex-direction: row-reverse;
    height: 25%;
    width: 80%;
    margin-right: 50px;
    margin-bottom: 50px;
}

.fa-quote-right{
    font-size: 100px; 
}

.ijeoma-pic{
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-radius: 30px;
    box-sizing: border-box;
}

.ijeoma-name{
    align-self: flex-end;
    font-size: 45px;
    font-family: remachine;
    letter-spacing: 2px;
}

/* PROJECTS SECTION */

.projects{
    background-color: #F2F2F2;
}

/* CONTACT ME SECTION */

.contact{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 125px;
    background-color: #F2F2F2;
    height: 500px;
    width: 80%;
    border-radius: 30px;
    border: solid #CCCCCC 1px;
}

.contact-general{
    display: flex;
    flex-direction: row;
    margin: 19.92px;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
}

.icons-contact-me{
    display: flex;
    flex-direction: column;

}
.icons2, .info-icons{
    color: #1A1A2E;
}

.info-icons{
    margin-left: -10px;
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1A1A2E;
}

.ul-footer{
    font-size: 14px;
    margin-top: 50px;
}

.icons-footer{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.fa-whatsapp, .fa-envelope, .devicon-github-original, .devicon-linkedin-plain{
    margin: 0px 20px;
}

strong{
    font-family: remachine;
    font-weight: 300;
    font-size: 30px;
}

.made-with{
    color: white;
    font-size: 15px;
    align-self: flex-end;
    margin-right: 15px;
    margin-bottom: 10px;
}

.made-jopay{
    color: #E94560;
}