                        /* General styles */

@font-face{
    font-family: poppinsBold;
    src: url(assets/Poppins-Bold.ttf);
}
    
@font-face{    
    font-family: poppinsMedium;
    src: url(assets/Poppins-Medium.ttf);
}

@font-face{
    font-family: poppinsLight;
    src: url(assets/Poppins-Light.ttf);
}
    
@font-face{
    font-family: poppinsSemiBold;
    src: url(assets/Poppins-SemiBold.ttf);
}

@font-face{
    font-family: remachine;
    src: url(assets/RemachineScript_Personal_Use.ttf);
}

html, body{
    margin: 0;
    font-size: 75%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 214, 214); 
    height: 100%;
    font-family: poppinsMedium;
}

a{
    text-decoration: none;
    color: rgb(214, 214, 214);
    margin-bottom: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

li a{
    text-align: center;
}

p{
    font-size: 1.5rem;
    margin-top: 0px;
    color: #141414;
}

address{
    font-style: normal;
}

/* TITLES */

.title1{
    font-size: 3rem;
    color: #080808;
    font-family: poppinsSemiBold;
    letter-spacing: 0.1em;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (max-width: 850px){
    .title1{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

.title2{
    color: #141414;
    font-size: 6vh;
    font-family: poppinsBold;
    margin-block-start: 0rem;
    margin-block-end: 0.2rem;
}

@media (max-width: 850px){
    .title2{
        text-align: center;
    }
}
/* SECTION */ 

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
    box-shadow: rgba(15, 52, 96, 0.5) -25px 0px 25px -25px inset;
    background-color: rgb(214, 214, 214);
}

/*Responsive*/

@media (max-width: 1081px) and (min-width: 1005px){
    .section{
        height: 1250px;
    }
}

@media (max-width: 1005px) and (min-width:728px){
    .section{
        height: 1400px;
    }
}

@media (max-width: 728px) and (min-width:100px){
    .section{
        height: 2000px;
    }
}

                    /*Here starts each section specific styles*/

/* NAVIGATION BAR */

header{
    position: fixed;
    z-index: 3;
    width: 100%;
}

.header-navbar{
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #16213E;
    box-shadow: rgba(22, 33, 62, 0.4) 0px 7px 29px 0px;
}

@media(max-width: 850px){
    .header-navbar{
        display: none;
    }
}

.ul-navbar{
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
    list-style-type: none;
}

li{
    font-size: 1.3rem;
    margin: auto 2rem;
    letter-spacing: 2px;
    font-family: poppinsLight;
}

li a:hover{
    color: #E94560;
} 

.flag-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 2rem;
    align-items: center;
    margin-right: -.5rem;
}

.flag{
    margin-left: 1.7rem;
    border-radius: 30px;
}

@media (max-width: 850px){
    .flag{
        margin-left: .5rem;
        margin-right: 1rem;
    }
}

.flag:hover{
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
}

/* FIRST BLOCK: about me */

.myself{
    height: 650px;
}

/*Responsive myself section*/
@media(max-width: 850px) and (min-width:500px){
    .myself{
        height: 150vh;
    }
}

@media(max-width: 500px) and (min-width:250px){
    .myself{
        height: 140vh;
    }
}

@media(max-height: 1180px){
    .myself{
        height: 100vh;
    }
}

.myself-window{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin-top: 5%;
    margin-left: 2%;
}

/* Responsive myself window */

@media (max-width: 850px){
    .myself-window{
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
    margin-top: 15%;
}
}

.myself-window figure{
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.main-pic{
    max-width: 90%;
    min-width: 75%;
    margin-left: 10%;
}

/* Responsive main pic */

@media (max-width: 850px){
    .main-pic{
        max-width: 75%;
        min-width: 60%;
        margin-top: 3rem;
        margin-left: 0;
}
}

@media (max-width: 550px){
    .main-pic{
        max-width: 70%;
        min-width: 75%;
        margin-top: 5rem;
        margin-left: 0;
    }
}

/* Language flags for mobile gadgets */

.flag-mobile{
    justify-content: flex-start;
    background-color: transparent;
    height: 2rem;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 5rem;
}

@media (min-width: 850px) {
    .flag-mobile{
        display: none;
    }
}

.who-im-i{
    display: flex;
    flex-direction: column;
}

@media (max-width: 841px){
    .who-im-i{
    margin-left: 2%;
}
}

.who-im-i span{
    font-size: 1.3rem;
}

.myself-window figure{
    display: flex;
    justify-content: center;
}

.my-name{
    color: #16213E;
    font-size: 5rem;
    font-family: poppinsBold;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -30px;
}

@media (max-width: 850px){
    .my-name{
        font-size: 3rem;
}
}

.button{
    font-size: 1.2rem;
    margin-top: 2rem;
    background-color: #E94560;
    color: white;
    width: 25%; 
    padding: 1em 2em;
    border-radius: 30px;
    letter-spacing: 0.1em;
    text-align: center;
}

.button:hover{
    box-shadow: rgba(22, 33, 62, .2) 0px 5px 15px 0px;
}

@media(max-width: 850px){
    .button{
        width: 100px;
        margin-top: 5%;
        align-self: center;
    }
}

/* SKILLS and PROJECT COMMON ELEMENTS */

.header-title{
    display: flex;
    flex-direction: row;
    margin: 0 15rem;
}

@media(max-width: 1020px){
    .header-title{
        flex-direction: column;
    }
}

.title-p{
    display: flex;
    flex-direction: column;
    margin-left: -1rem;
}

@media(max-width: 400px){
    .title-p p{
        margin-left: 2rem;
        margin-right: 1rem;
    }
}

@media(max-width: 300px){
    .title-p p{
        margin: 0 6rem;
    }
}

.skills-project-section{
    background-color: #F2F2F2;
}

.little-pic{
    max-width: 300px;
    min-width: 150px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.skills-project-box{
    color: #2e2e31;
    font-family: poppinsBold;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    width: 200px;
    margin: 20px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
}

.skills-project-box:hover{
    border: 1px solid #ff86eb;
    color: #ea6a7f;
}

.skills-project-box span{
    font-size: 1.2rem;
}

/* SKILLS SECTION */

.colored{
    font-size: 8em;
    margin-top: 24px;
    margin-bottom: 20px;
    display: block;
}

/* QUOTE SECTION */

.quote{
    height: 600px;
    background-color: #E94560;
    margin: 0px;
    color: whitesmoke;
    box-shadow: rgba(15, 52, 96, 0.5) -15px 0px 25px -15px inset;
}

@media(max-width: 1053px) and (min-width: 740px){
    .quote{
        height: 700px;
    }
}

@media(max-width: 740px) and (min-width: 300px){
    .quote{
        height: 800px;
    }
}

@media(max-width: 300px) and (min-width: 100px){
    .quote{
        height: 1000px;
    }
}

.fa-quote-right{
    font-size: 100px;
    align-self: center; 
}

blockquote p{
    font-size: 25px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 20px 100px;
    color: whitesmoke
}

@media(max-width: 671px){
    blockquote p{
        margin: 0;
    }
}

.autor-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 35%;
    width: 100%;
    margin: -15px 0 60px auto;
}

@media(max-width: 680px){
    .autor-content{
       height: 25%;
       margin-right: 0px;
       margin-left: 30px;
       margin-top: 15px;
    }
}

.autor-content figure{
    width: 10vw;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@media(max-width: 1050px) and (min-width: 600px){
    .autor-content figure{
        width: 18vw;
    }
}

@media(max-width: 600px) and (min-width: 270px){
    .autor-content figure{
        width: 30vw;
    }
}

.autor-pic{
    width: 100%;
    border-radius: 15%;
}

.autor-name{
    font-size: 6em;
    font-family: remachine;
    letter-spacing: 2px;
    margin-right: 5%;
    margin-left: 2%;
}

@media(max-width: 425px){
    .autor-name{
        font-size: 4em;
    }
}

/* PROJECTS SECTION */

.project-box{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.project-pic{
    height: 100px;
    margin-bottom: 2rem;
}

/* CONTACT ME SECTION */

.contact{
    display: flex;
    height: 750px;
    width: 100%;   
}

/*@media (max-width: 841px){

}*/

.contact-window{
    height: 500px;
    width: 80%;
    border-radius: 30px;
    border: solid #CCCCCC 1px;
    background-color: #F2F2F2;
    margin: 8rem 8rem;
}

.contact-general{
    display: flex;
    flex-direction: row;
    margin: 2rem 5rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.icons-nd-logo{
    display: flex;
    height: 50%;
}

.icons-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    z-index: 2;
}

.contact-info{
    color: #1A1A2E;
    margin: 5px 0;
}

.contact-info span{
    font-size: 1.2rem;
}

.contact-info:hover{
    color: #E94560;
}

/*.icons2:hover{
    background-color: #0F3460;
    padding: 15px;
    border-radius: 30px;
}*/

.icons{
    font-size: 25px;
}

.info-icons{
    margin-left: .7rem;
}

.icons-nd-logo figure{
    margin: 0;
    display: flex;
}

.logo{
    max-width: 100px;
    min-width: 150px;
    align-self: flex-end;
}

/* FORM */

form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

label{
    font-size: 1rem;
    letter-spacing: .1em;
    margin-bottom: .2em;
}

input, textarea{
    margin-bottom: 1em;
    font-family: poppinsLight;
    color: #0F3460;
    background-color: #ffd7f8;
    border:rgba(22, 33, 62) solid 1px;
    border-radius: 5px;
}

input[type=submit]{
    border: none;
    margin: 0;
    font-family: poppinsSemiBold;
}

form .button{
    width: 50%;
    align-self: center;
    cursor: pointer;
}


/* FOOTER */

footer{
    width: 100%;
    height: 15rem;
    min-height: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #1A1A2E;
    border: solid #1A1A2E;
}

@media (max-width: 450px){
    .ul-footer a{
    font-size: 2.8vw;
}
}

.icons-footer{
    font-size: 5vh;
    display: flex;
    flex-direction: row;

}

/*.icons-footer a{
    width: 5vh;
    margin: 5px 15px;
}*/

.foot-icon{
    color: #1A1A2E;
    margin: 0px 1.5vw;
    border: 1px solid rgb(214, 214, 214);
    background-color: rgb(214, 214, 214);
    border-radius: 30px;
    padding: 7px;
}

.wsp{
    padding: 7px 10px;
}

.foot-icon:hover{
    color: #E94560;
    border: 1px solid rgb(214, 214, 214);
    background-color: #1A1A2E; 
}

strong{
    font-family: remachine;
    font-weight: 300;
    font-size: 30px;
}

.build-with{
    color: white;
    font-size: 15px;
    margin-right: 1.5vw;
    margin-bottom: .5vw;
    align-self: flex-end;
}

.made-jopay{
    color: #E94560;
}
