/********* GENERAL STYLES *********/

/*** Fonts ***/
@font-face{
    font-family: poppinsBold;
    src: url(assets/Poppins-Bold.ttf);
}
    
@font-face{    
    font-family: poppinsMedium;
    src: url(assets/Poppins-Medium.ttf);
}

@font-face{
    font-family: poppinsLight;
    src: url(assets/Poppins-Light.ttf);
}
    
@font-face{
    font-family: poppinsSemiBold;
    src: url(assets/Poppins-SemiBold.ttf);
}

@font-face{
    font-family: remachine;
    src: url(assets/RemachineScript_Personal_Use.ttf);
}

/*** Universal styles ***/

html, body{
    margin: 0;
    font-size: 75%;
    max-width: 100%;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(214, 214, 214); 
    height: 100%;
    font-family: poppinsMedium;
}

a{
    text-decoration: none;
    color: rgb(214, 214, 214);
    margin-bottom: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

li a{
    text-align: center;
}

p{
    font-size: 1.5rem;
    margin-top: 0px;
    color: #141414;
    margin-block-end: 0;
}

*::selection{
    background: #ff86eb;
}

address{
    font-style: normal;
}

/********* SECTION style *********/ 

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 900px;
    width: 100%;
    box-shadow: rgba(15, 52, 96, 0.5) -25px 0px 25px -25px inset;
    z-index: 3;
}

/*** Section media queries ***/

@media (max-width: 1081px) and (min-width: 1005px){
    .section{
        height: 1250px;
    }
}

@media (max-width: 1005px) and (min-width: 728px){
    .section{
        height: 1400px;
    }
}

@media (max-width: 728px) and (min-width: 280px){
    .section{
        height: 2000px;
    }
}

@media (max-width: 280px){
    .section{
        height: 2200px;
    }
}

/**************** Here starts each section specific styles ****************/

/********* NAVIGATION BAR *********/

header{
    position: fixed;
    z-index: 4;
    width: 100%;
}

.header-navbar figure{
    display: flex;
}

.header-navbar figure img{
    margin-left: -43%;
}

.header-navbar{
    height: 7.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16213E;
    box-shadow: rgba(22, 33, 62, 0.3) 0px 7px 29px 0px;
}

.ul-navbar{
    display: flex;
    flex-direction: row;
    margin-right: 3rem;
    list-style-type: none;
}

li{
    padding: 0 .2rem;
    margin: auto 3rem;
    letter-spacing: 2px;
    font-family: poppinsLight;
}

li a:hover{
    color: rgb(255, 255, 255);
} 

li a:active{
    color:#E94560;
}

li:active{
    background: rgba(255, 215, 248, 1);
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
    border-radius: 30px;
}

.li-contact{
    background-color: #604d95;
    border-radius: 30px;
    padding: 0 .4rem;
}

.li-contact a:hover{
    color: #ea6a7f;;
}

.li-contact a:active{
    color: #1A1A2E;
    font-family: poppinsSemiBold;
    letter-spacing: 1.58px;
}

.flag-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 2rem;
    align-items: center;
    margin-right: -.5rem;
}

.flag{
    margin-left: 1.7rem;
    border-radius: 30px;
}

.flag:hover{
    box-shadow: rgba(255, 255, 255, 0.12) 0px 2px 4px 0px, rgba(255, 255, 255, 0.32) 0px 2px 16px 0px;
}

/*** Header and navbar media queries ***/

@media(max-width: 850px){
    .header-navbar{
        display: none;
    }
    .flag{
        margin-left: .5rem;
        margin-right: 1rem;
    }
}

/************ HERO *************/

#hero{
    height: 650px;
    position: relative;
    background: #0a0a0a;
}

#hero::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .5;
    background-image: url(assets/images/web-development3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.hero-window{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    align-items: center;
    margin-top: 7%;
    margin-left: 2%;
    z-index: 2;
}

.hero-window figure{
    width: 50%;
    display: flex;
    justify-content: center;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-end: 0;
    margin-inline-start: 0;
}

.main-pic{
    max-width: 100%;
    min-width: 75%;
    margin-left: 20%;
}

/*** Hero text and button ***/

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-text h2{
    font-size: 3rem;
    color: #080808;
    font-family: poppinsSemiBold;
    letter-spacing: 0.1em;
    margin-block-start: 0;
    margin-block-end: 0;
    color: #CCCCCC;
}

.hero-text h1{
    color: #ea6a7f;
    font-size: 5rem;
    font-family: poppinsBold;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: -25px;
}

.hero-text span{
    font-size: 1.3rem;
    color: whitesmoke;
}

.hero-text span strong{ /* glowing Jo Pay */
    -webkit-animation: glow 2s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(230, 0, 115, 1), 0 0 40px rgba(230, 0, 115, 1), 0 0 50px rgba(230, 0, 115, 1), 0 0 60px rgba(230, 0, 115, 1), 0 0 70px rgba(230, 0, 115, 1);
    }
    to {
      text-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 77, 166, 1), 0 0 40px rgba(255, 77, 166, 1), 0 0 50px rgba(255, 77, 166, 1), 0 0 60px rgba(255, 77, 166, 1), 0 0 70px rgba(255, 77, 166, 1), 0 0 80px rgba(255, 77, 166, 1);
    }
  }

@media (max-width: 450px){
    @-webkit-keyframes glow {    
    from {
        text-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 10px rgba(255, 255, 255, 1), 0 0 15px rgba(230, 0, 115, 1), 0 0 20px rgba(230, 0, 115, 1), 0 0 25px rgba(230, 0, 115, 1), 0 0 30px rgba(230, 0, 115, 1), 0 0 35px rgba(230, 0, 115, 1);
      }
      to {
        text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 15px rgba(255, 77, 166, 1), 0 0 20px rgba(255, 77, 166, 1), 0 0 25px rgba(255, 77, 166, 1), 0 0 30px rgba(255, 77, 166, 1), 0 0 35px rgba(255, 77, 166, 1), 0 0 40px rgba(255, 77, 166, 1);
      }
    }
    }

.button{
    font-size: 1.2rem;
    margin-top: 2rem;
    background-color: #E94560;
    color: white;
    width: 25%; 
    padding: 1em 2em;
    border-radius: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
}

.button:active{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px inset, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px inset, rgba(0, 0, 0, 0.2) 0px -3px 0px 0px inset;
} 

/*** Hero media queries ***/ 

@media(max-width: 850px) and (min-width:500px){
    #hero{
        height: 90vh;
    }
}

@media(max-width: 500px) and (min-width:250px){
    #hero{
        height: 140vh;
    }

    #hero::before{
        background-position-x: center;
    }
}

@media(max-height: 1179px){
    #hero{
        height: 100vh;
    }
}

@media(min-height: 1179px) and (max-height: 2500px){
    #hero{
        height: 150vh;
    }
}

@media (max-width: 850px){ /* Responsive hero window */
    .hero-window{
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
    }

    .hero-window figure{ /* Responsive main pic */
        width: 95%;
    }

    .main-pic{
        max-width: 90%;
        min-width: 70%;
        margin-top: 3rem;
        margin-left: 0;
    }
}

@media (max-width: 550px){ /* Responsive main pic */
    .main-pic{
        max-width: 70%;
        min-width: 75%;
        margin-top: 5rem;
    }
}

.flag-mobile{ /* Language flags for mobile gadgets */
    justify-content: flex-start;
    background-color: transparent;
    height: 2rem;
    width: 100%;
    align-self: flex-start;
    margin-bottom: 5%;
}

@media (min-width: 850px) {
    .flag-mobile{
        display: none;
    }
}

@media (max-width: 841px){ /* Hero paragraph */
    .hero-text{
    margin-left: 2%;
    }
}

@media (max-width: 850px){
    .hero-text h1{
        font-size: 3rem;
    }
    .hero-text h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .button{
        width: 100px;
        margin-top: 5%;
        align-self: center;
    }
}

/********* SKILLS and PROJECT COMMON ELEMENTS *********/

.skills-project-section{
    background-color: #F2F2F2;
}

.header-title{
    display: flex;
    margin: 0 15rem;
}

.header-title:hover .title-p p{
    transform: translateY(-7%);
}

.header-title:hover .title-p h1{
    color: #E94560;
}

.header-title:hover .title-p h1::after{    /* for the underline title effect */
    transform: scaleX(.8);
    transform-origin: bottom left;
}

.header-title:hover .little-pic{
    transform: translateX(8%);
}

.title-p h1{
    color: #141414;
    font-size: 6vh;
    font-family: poppinsBold;
    margin-block-start: 0rem;
    margin-block-end: 0.2rem;
    display: inline-block;
    position: relative;
}

.title-p h1::after{ /* for the underline title effect */
    content: '';
    position: absolute;
    width: 40%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(233, 69, 96, .4);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

.title-p{
    display: flex;
    flex-direction: column;
    margin-left: -1rem;
}

.title-p p{
    margin-top: 2%;
    transition-property: transform;
    transition-duration: .2s;
}

.little-pic{
    max-width: 300px;
    min-width: 150px;
    transition-property: transform;
    transition-duration: .3s;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 85%;
    margin: 20px 50px 0 60px;
}

.skills-project-box{
    font-family: poppinsBold;
    background-color: white;
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    width: 200px;
    margin: 20px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
    transition-property: transform;
    transition-duration: .3s;
}

.skills-project-box:hover{
    border: 1px solid #ff86eb;
    transform: scale(105%);
    box-shadow: rgba(25, 60, 77, 0.4) 0px 25px 20px -20px;
}

.skills-project-box span{
    font-size: 1.2rem;
}

.skills-project-box a{
    color: #2e2e31;
    display: block;
}

.skills-project-box:hover a{
    color: #ea6a7f;
}

/*** Skills and Project common media queries ***/

@media (max-width: 850px){
    .title-p h1{
        text-align: center;
    }
}

@media (max-width: 450px){
    .title-p h1{
    font-size: 4vh;
    }
}

@media(max-width: 1020px){ /* responsive underline effect */
    .header-title{
        flex-direction: column;
    }

    .title-p h1::after{
        left: 30%;
        transform-origin: center;
    }

    .header-title:hover .title-p p{
        transform: translateY(-6%);
    }
    
    .header-title:hover .little-pic{
        transform: translateX(-12%);
    }

    .header-title:hover .title-p h1::after{
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

@media(max-width: 450px){
    .title-p p{
        font-size: 1.5rem;
        margin-left: 2.5rem;
        margin-right: 1rem;
    }
}

@media(max-width: 300px){
    .title-p p{
        margin: 0 6rem;
    }
}

@media (max-width: 280px){
    .little-pic{
        max-width: 200px;
    }
}


/*********** SKILLS SECTION ***********/

.colored{ /* programming languages icons */
    font-size: 4.5em;
    margin-top: 24px;
    margin-bottom: 20px;
    display: block;
}

/*********** QUOTE SECTION ***********/

.quote{
    height: 600px;
    background-color: #E94560;
    margin: 0px;
    color: whitesmoke;
    box-shadow: rgba(15, 52, 96, 0.5) -15px 0px 25px -15px inset;
    position: relative;
}

.quote::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .4;
    background-image: url(assets/images/galaxy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
}


.fa-quote-right{
    font-size: 100px;
    align-self: center; 
    z-index: 2;
}

blockquote{
    z-index: 2;
}

blockquote p{
    font-size: 25px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin: 20px 100px;
    color: whitesmoke;
}

.autor-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    height: 35%;
    width: 100%;
    margin: -15px 0 60px auto;
    z-index: 2;
}

.autor-content figure{
    width: 10vw;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.autor-pic{
    width: 100%;
    border-radius: 15%;
}

.autor-name{
    font-size: 6em;
    font-family: remachine;
    letter-spacing: 2px;
    margin-right: 5%;
    margin-left: 2%;
}

/*** Quote media queries ***/

@media(max-width: 1053px) and (min-width: 740px){
    .quote{
        height: 700px;
    }
}

@media(max-width: 740px) and (min-width: 300px){
    .quote{
        height: 800px;
    }
}

@media(max-width: 300px) and (min-width: 100px){
    .quote{
        height: 1000px;
    }
}

@media(max-width: 671px){
    blockquote p{
        margin: 0;
    }
}

@media(max-width: 680px) and (min-width: 300px){
    .autor-content{
       height: 25%;
       margin: 15px 0px 0px 30px;
    }
}

@media (max-width: 300px){
    .autor-content{
        margin-left: 30px;
    }
}

@media(max-width: 1050px) and (min-width: 600px){
    .autor-content figure{
        width: 18vw;
    }
}

@media(max-width: 600px) and (min-width: 270px){
    .autor-content figure{
        width: 30vw;
    }
}

@media(max-width: 425px){
    .autor-name{
        font-size: 4em;
    }
}

/*********** PROJECTS SECTION ***********/

.project-box a{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.project-pic{
    height: 100px;
    margin-bottom: 2rem;
}

/*********** CONTACT ME SECTION ***********/

#contact-me{
    display: flex;
    height: 750px;
    width: 100%; 
    z-index: 1;
    background-image: url(assets/images/code2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;  
}

.contact-window{
    height: 80%;
    width: 75%;
    border-radius: 30px;
    border: solid #CCCCCC 1px;
    background-color: #F2F2F2;
    margin: 8rem 8rem;
    z-index: 3;
}

.contact-general{
    display: flex;
    flex-direction: row;
    margin: 2rem 5rem;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.contact-container h2{
    font-size: 5vh;
    color: #141414;
    background-color: #ea6a7f;
    padding: 1.5%;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    text-align: center;
}

.contact-container p{
    margin: 0 -1em;
    text-align: center;
}

.icons-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    margin-top: 10%;
}

.contact-info{
    color: #1A1A2E;
    margin: 1% 0;
}

.contact-info span{
    font-size: 1.25rem;
}

.contact-info:hover address a span{
    color: #E94560;
}

.contact-info:hover address a .icons{
    border-radius: 30px;
    background: #E94560;
    color:#1D055F; 
    border: 1px solid rgb(214, 214, 214);
}

.icons{
    font-size: 3rem;
    color: #1D055F;
    margin: 0px 1.2vw;
    background-color: transparent;
    border: 1px solid #F2F2F2;
    border-radius: 30px;
    padding: 7px;
}

.info-icons{
    margin-left: .7rem;
}

.icons-nd-logo{ /* this only appears when responsive */
    display: flex;
    height: 50%;
    flex-direction: row;
}

.icons-nd-logo figure{
    margin: 0;
    display: flex;
}

.logo{
    max-width: 100px;
    min-width: 110px;
    align-self: flex-end;
    border-bottom: 1px dashed rgba(134, 134, 134, 0.3);

}

/*** contact me media queries ***/

@media(max-width: 836px) and (min-width:250px){
    #contact-me {
        height: 1200px;
    }

    .contact-window {
        height: 900px;
        width: 75%;
    }

    .contact-general{
        flex-direction: column;
        align-items: center;
    }

    .contact-container{
        width: 90%;
    }

    .contact-container h2{
        font-size: 4vh;
    }
}

@media (max-width: 710px){
    .contact-window{
        height: 1100px;
    }

    .contact-container{
        width: 100%;
    }
}

@media (max-width: 830px){
    .icons-contact{
        margin-top: 0;
    }
}

@media (min-width: 830px){
    .logo{
        display: none;
    }
}

@media (max-width: 1010px) and (min-width: 840px) {
    .icons-nd-logo {
        display: flex;
        flex-direction: column;
    }

    .icons-nd-logo figure{
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 715px) {
    .icons-nd-logo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 330px){
    i .icons{
        font-size: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (max-width: 450px){
    .contact-info span{
        font-size: 1rem;
    }
}

/*** FORM ***/

form{
    display: flex;
    flex-direction: column;
    width: 80%;
}

label{
    font-size: 1rem;
    letter-spacing: .1em;
    margin-bottom: .2em;
}

input, textarea{
    margin-bottom: 1em;
    font-family: poppinsLight;
    font-size: 1.3rem;
    color: whitesmoke;
    background-color: #604d95;
    border: none;
    border-radius: 10px;
}

input[type=submit]{
    border: none;
    margin: 0;
    font-family: poppinsSemiBold;
}

input::placeholder, textarea::placeholder {
    color: #c1b6db;
}

form .button{
    display: flex;
    justify-content: center;
    width: 50%;
    align-self: center;
    cursor: pointer;
}

/*** form media queries ***/

@media (max-width: 836px) and (min-width:250px){
    form{
        width: 120%;
    }
}

.copyright{  /* image copyright */
    display: flex;
    flex-direction: row;
    color:rgba(134, 134, 134, 0.5);
    font-family: poppinsLight;
    font-size: .5rem;
    align-self: flex-end;
    text-align: left;
    margin-bottom: 1%;
    z-index: 2;
}

/*********** FOOTER ***********/

footer{
    width: 100%;
    height: 15rem;
    min-height: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #121b32;
    border: solid #121b32;
}

.icons-footer{
    font-size: 5vh;
    display: flex;
}

.foot-icon{
    font-size: 2.2rem;
    color: #121b32;
    margin: 0px 1.5vw;
    border: 1px solid rgb(214, 214, 214);
    background-color: rgb(214, 214, 214);
    border-radius: 30px;
    padding: 7px;
}

.wsp{
    padding: 7px 9px;
}

.foot-icon:hover{
    color: white;
    border: 1px solid rgb(214, 214, 214);
    background-color: #121b32; 
}

strong{
    font-family: remachine;
    font-weight: 300;
    font-size: 30px;
}

.build-with{
    font-family: poppinsLight;
    color: white;
    font-size: 1.2rem;
    margin-right: 1vw;
    margin-bottom: 0;
    align-self: flex-end;
}

.made-jopay{
    color: #E94560;
}

/*** footer media queries ***/

@media (max-width: 450px){
    .ul-footer li{
        padding: 0;
        margin: auto 1.5rem;
    }
    .ul-footer a{
        font-size: 2.8vw;
    }
}

/***** spanish version styles *******/

.under{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.under h1{
    font-family: poppinsSemiBold;
    color: #1D055F;
    font-size: 6vh;
    text-align: center;
}

.construction-pic{
    width: 40%;
}

@media (max-width: 850px) and (min-width: 450px){
    .construction-pic{
        width: 70%;
    }
}

@media (max-width: 450px){
    .construction-pic{
        width: 100%;
    }
}

.get-back{
    color:#1D055F; 
    width: 100%;
}

.fa-circle-arrow-left{
    margin-left: 1%;
    font-size: 3rem;
}